@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #F5F5F5;
  /* height: 100vh; */
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gradient-text {
  background-image: linear-gradient(to right, #632EE3, #9F62F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background-image: linear-gradient(to right, #632EE3, #9F62F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid; /* border width */
  border-image: linear-gradient(to right, #632EE3, #9F62F2) 1;
}

.gradient-bg {
  background-image: linear-gradient(to right, #632EE3, #9F62F2);
}